* {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
}
body {
  font-family: "Open-Sans", sans-serif;
}
.nav-link {
  transition: color 0.3s ease-out;
  position: relative;
}
.nav-link.active {
  color: black !important;
}
