.App {
  min-height: 100vh;
}
body {
  font-family: "Open-Sans", sans-serif;
  background: #000;
}
.nav-link {
  transition: color 0.3s ease-out;
  position: relative;
}
.nav-link.active {
  color: black !important;
}
#footer {
  bottom: 0;
  width: 100%;
  margin-top: auto;
  position: absolute;
}

#footer .footer-block {
  margin: 20px 0;
}
